problem = riser
np	= 4
nsg 	= 4
fmt 	= ascii
pDir	= .
dir	= ./RUN_1
#=========================================================================
# CNN AND CRD FILES USED FOR PLOTTING
#=========================================================================
#vols	= riser.vols
srfs	= riser.srfs
cnn	= riser.fluid.cnn
nen	= 8
outFreq	= 5
verbose	= 1

aleLinearElastic = 1
aleUpdLagrangian = 0

#restartTsId = 10
#restartFlag = 1

